body {
    background: #3e3c3d;
    background-image: url("../images/background.png");
    background-repeat: repeat;
}

#game-title {
    font-family: 'Shrikhand', cursive;
}

#player-info-label {
    font-family: 'Shrikhand', cursive;
}

#display-target-number {
    font-family: 'Shrikhand', cursive;
    font-size: 3em;
}

#display-crystal-sum {
    font-family: 'Shrikhand', cursive;
    font-size: 3em;
}

.game-info-area {
    background-color: #808182;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.player-info-area {
    background-color: #808182;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}
